<section class="text-gray-700 dark:text-orange-400 bg-white dark:bg-iron-500 body-font pt-5">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center min-h-screen">
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray dark:text-white">Greg Sithole
        <br class="hidden lg:inline-block">Intermediate Full-Stack Developer
      </h1>
      <p class="mb-8 leading-relaxed">An Intermediate Full-Stack Developer with a huge passion for games and with a huge desire to build an award-winning game.</p>
      <div class="flex justify-center">
        <button (click)="scrollToSection('#about')" class="inline-flex text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-orange-400 rounded text-lg">About Greg</button>
        <button (click)="scrollToSection('#contact')" class="ml-4 inline-flex text-iron-500 bg-orange-400 border-0 py-2 px-6 focus:outline-none hover:bg-orange-300 hover:text-iron-500 rounded text-lg">Contact</button>
      </div>
    </div>
  </div>
</section>
